<section class="module module-gray" id="awards">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="m-title c-align">
        <h2>{{head.title}}</h2>
        <h6>{{head.subtitle}}</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"  style="margin-bottom: 40px;">
      <table class="table table-borderless">
        <tbody>
          <tr *ngFor="let a of awards;">
            <a href={{a.link}}>
            <td><img src={{a.img}} width="100" height="100"></td>
            <td>{{ a.title }} - <strong>  {{ a.name }}  </strong></td>
            </a>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>
