<section class="module" id="resume" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="m-title c-align">
          <h2 style="color: green;">{{head.title}}</h2>
          <h6>{{head.subtitle}}</h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="timeline">
          <li *ngFor="let job of jobs">
            <div class="timeline-badge">
            </div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <a href="{{job.cling}}" target="_blank"><img src={{job.imglink}} ><br><br>
                <h5 class="timeline-title" style="color: black;">{{job.position}} | {{job.period}}</h5></a>
                <div [innerHTML]="job.displayedDescription"></div>
              </div>
            </div>
          </li>
          <div class="timeline-top"></div>
        </ul>
        <div class="text-center"><a class="btn btn-lg btn-gray" target="_blank" href="/assets/docs/jcv.pdf" download ><span>Download CV</span></a></div>
      </div>
    </div>
  </div>
</section>
